* {
	font-family: "Courier New", Courier, monospace;
}

body {
	background: linear-gradient(to bottom right, #e66465, #9198e5);
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 80px 0 40px 0;
}

main {
	gap: 50px;
	justify-content: center;
}

.flex {
	display: flex;
}

.settings {
	flex-direction: column;
	width: 200px;
}

.setting-component {
	background-color: white;
	padding: 10px;
	border-bottom: black 1px solid;
}

.setting-component:last-child {
	border: none;
}

.setting-component > input, button {
	width: 90%;
}

.setting-component > button {
	border-radius: 3px;
	box-shadow: 2px 2px;
}

.info {
	/* size and font */
	font-size: 12px;
	text-align: center;
	
	/* location */
	transform: translateY(-5px);
	float: right;
	
	/* shape and background */
	width: 1em;
	border-radius: 50%;
	background-color: lightblue;
}

.info:hover, button:hover, input:hover {
	cursor: pointer;
}

.info:hover ~ .info-popup {
	display: inline;
}

.info-popup {
	position: relative;
	top: 10px;
	display: none;
}

#board {
	width: 400px;
	height: 400px;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.5);
	
	/* To allow the user to resize the canvas */
	scrollbar-width: none;
	overflow: scroll;
	resize: both;
}

.board-pixel {
	box-sizing: border-box;

	/* To add support for mobile users */
	touch-action: none;
}